.ContentModal__landscape{
    position: relative;
    display: flex;
    object-fit: contain;
    border-radius: 10px;
}
.ContentModal__Portrait{
    position: relative;
    display: flex;
    object-fit: contain;
    border-radius: 10px;
}
.tagline{
    font-size: 2rem;
    padding: 10px;
    text-align: center;
    font-weight: 400;
}
.ContentModal{
 font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}
.ContentModal::-webkit-scrollbar{
    display: none;
}
.year{
    text-align: left;
    font-size:2rem;
    font-weight: 100;
}
.ContentModal__about{
     padding: 10px;
     width: 95%;
     height: 90%;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     font-weight: 300;

}
.ContentModal__icon{
    position: absolute;
    width: 95%;
    top: 0%;
    right: 2.5%;
    height: 10%;
    display: flex;
    align-items: center;
    padding-right: 10px;
    justify-content: flex-end;
    
}
.ContentModal__title{
    position: relative;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
}
.ContentModal__description{
    display: flex;
    height: 100%;
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    scrollbar-width: thin;
    text-align: justify;
}
.ContentModal__description::-webkit-scrollbar{
    display: none;
}
@media (max-width:835px){
    .ContentModal__landscape{
        display: flex;
        width: 100%;
    }
    .ContentModal__portrait{
        display: none;
        
    }
    .ContentModal__title{
        padding: 0px 0px 0px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: left;
        font-size: 1rem;
    }
    .tagline{
        padding-top: 10px;
        position: relative;
        font-size: 1.5rem;
    }
}
@media(min-width:835px){
    .ContentModal__landscape{
        display: none;
    }
    .ContentModal__portrait{
        display: flex;
        width: 38%;
    }
    
    .ContentModal{
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
    }
    .ContentModal__about{
        width: 58%;
        padding: 0;
        height: 100%;
    }

    .ContentModal__description{
        line-height: 25px;
        letter-spacing: 0.5px;
    }

}
