*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html{
  font-size: 80%;
}
.app{
  min-height: 100vh;
  background-color: #10141f;
  color: white;
  padding-top: 62px;
  padding-bottom: 70px;
}
.Category{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 700px){
  .app{
    padding-top: 70px;
  }
}
